/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url('components/banner.css');
@import url('components/cards.css');
@import url('components/button.css');
@import url('components/footer.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background: black;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.join {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}

.join > h2 {
  margin-bottom: 20px;
  text-shadow: 1px 5px rgba(240, 46, 170, 0.6);
}

.join > p {
  margin-top: 20px;
  width: 900px;
  font-size: 20px;
}
