
.join-button {
  padding: 20px 50px;
  font-weight: bold;
  background-color: rgba(240, 46, 170, 0.6);
  font-size: 20px;
  border-radius: 40px;
  color: white;
  border: 1px solid black;
  transition: background .3s ease;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  /* box-shadow: 0 20px 50px rgba(240, 46, 170, 0.3); */
}

.join-button:hover {
  background-color: rgba(219, 162, 198, 0.6);
  color: black;
}
